.lst-kix_ahbjqie9egez-8 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-2 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-3 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-0 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-1 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-4 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-5 > li:before {
    content: "-  "
}

ul.lst-kix_ahbjqie9egez-1 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-2 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-0 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-5 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-6 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-6 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-5 {
    list-style-type: none
}

.lst-kix_8m8aqh53y6bg-8 > li:before {
    content: "-  "
}

ul.lst-kix_ahbjqie9egez-3 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-8 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-4 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-7 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-2 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-1 {
    list-style-type: none
}

.lst-kix_8m8aqh53y6bg-6 > li:before {
    content: "-  "
}

.lst-kix_8m8aqh53y6bg-7 > li:before {
    content: "-  "
}

ul.lst-kix_ahbjqie9egez-7 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-4 {
    list-style-type: none
}

ul.lst-kix_ahbjqie9egez-8 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-3 {
    list-style-type: none
}

ul.lst-kix_xdeeteg9a996-0 {
    list-style-type: none
}

.lst-kix_538h8vog35gd-7 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-4 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-8 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-5 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-6 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-8 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-7 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-5 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-6 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-1 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-0 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-4 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-3 > li:before {
    content: "-  "
}

.lst-kix_xdeeteg9a996-2 > li:before {
    content: "-  "
}

.lst-kix_1g7b4xl19o4s-0 > li:before {
    content: "-  "
}

.lst-kix_1g7b4xl19o4s-2 > li:before {
    content: "-  "
}

ul.lst-kix_538h8vog35gd-6 {
    list-style-type: none
}

ul.lst-kix_538h8vog35gd-7 {
    list-style-type: none
}

ul.lst-kix_538h8vog35gd-8 {
    list-style-type: none
}

.lst-kix_1g7b4xl19o4s-3 > li:before {
    content: "-  "
}

ul.lst-kix_538h8vog35gd-2 {
    list-style-type: none
}

ul.lst-kix_538h8vog35gd-3 {
    list-style-type: none
}

ul.lst-kix_538h8vog35gd-4 {
    list-style-type: none
}

.lst-kix_1g7b4xl19o4s-4 > li:before {
    content: "-  "
}

.lst-kix_1g7b4xl19o4s-6 > li:before {
    content: "-  "
}

ul.lst-kix_538h8vog35gd-5 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-8 {
    list-style-type: none
}

ul.lst-kix_538h8vog35gd-0 {
    list-style-type: none
}

.lst-kix_1g7b4xl19o4s-5 > li:before {
    content: "-  "
}

ul.lst-kix_538h8vog35gd-1 {
    list-style-type: none
}

.lst-kix_1g7b4xl19o4s-1 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-1 > li:before {
    content: "-  "
}

ul.lst-kix_bcwhvo4c49et-1 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-2 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-0 {
    list-style-type: none
}

.lst-kix_538h8vog35gd-0 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-3 > li:before {
    content: "-  "
}

.lst-kix_538h8vog35gd-2 > li:before {
    content: "-  "
}

ul.lst-kix_ly2ccm6d49ig-4 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-3 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-5 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-2 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-6 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-1 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-7 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-0 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-0 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-1 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-2 {
    list-style-type: none
}

ul.lst-kix_ly2ccm6d49ig-3 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-5 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-6 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-3 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-4 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-8 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-7 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-6 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-7 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-5 {
    list-style-type: none
}

ul.lst-kix_bcwhvo4c49et-8 {
    list-style-type: none
}

ul.lst-kix_8m8aqh53y6bg-4 {
    list-style-type: none
}

.lst-kix_ly2ccm6d49ig-6 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-5 {
    list-style-type: none
}

.lst-kix_bcwhvo4c49et-2 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-4 {
    list-style-type: none
}

ul.lst-kix_1g7b4xl19o4s-3 {
    list-style-type: none
}

.lst-kix_ly2ccm6d49ig-5 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-2 {
    list-style-type: none
}

.lst-kix_bcwhvo4c49et-3 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-4 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-8 {
    list-style-type: none
}

ul.lst-kix_1g7b4xl19o4s-7 {
    list-style-type: none
}

.lst-kix_ly2ccm6d49ig-4 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-6 {
    list-style-type: none
}

.lst-kix_bcwhvo4c49et-5 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-6 > li:before {
    content: "-  "
}

.lst-kix_ly2ccm6d49ig-7 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-7 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-8 > li:before {
    content: "-  "
}

.lst-kix_ly2ccm6d49ig-8 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-1 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-0 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-2 > li:before {
    content: "-  "
}

li.li-bullet-0:before {
    margin-left: -18pt;
    white-space: nowrap;
    display: inline-block;
    min-width: 18pt
}

.lst-kix_ahbjqie9egez-5 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-4 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-6 > li:before {
    content: "-  "
}

.lst-kix_ly2ccm6d49ig-1 > li:before {
    content: "-  "
}

.lst-kix_ly2ccm6d49ig-3 > li:before {
    content: "-  "
}

.lst-kix_1g7b4xl19o4s-8 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-3 > li:before {
    content: "-  "
}

.lst-kix_ahbjqie9egez-7 > li:before {
    content: "-  "
}

ul.lst-kix_1g7b4xl19o4s-1 {
    list-style-type: none
}

ul.lst-kix_1g7b4xl19o4s-0 {
    list-style-type: none
}

.lst-kix_ly2ccm6d49ig-2 > li:before {
    content: "-  "
}

.lst-kix_1g7b4xl19o4s-7 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-1 > li:before {
    content: "-  "
}

.lst-kix_bcwhvo4c49et-0 > li:before {
    content: "-  "
}

.lst-kix_ly2ccm6d49ig-0 > li:before {
    content: "-  "
}

ol {
    margin: 0;
    padding: 0;
    font-family: "Mona sans", system-ui;
}

table td, table th {
    padding: 0;
    font-family: "Mona sans", system-ui;
}

.c9 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-left: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-family: "Mona sans", system-ui;
}

.c5 {
    margin-left: 72pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
    font-family: "Mona sans", system-ui;
}

.c10 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    height: 11pt;
    font-family: "Mona sans", system-ui;
}

.c0 {
    margin-left: 36pt;
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-family: "Mona sans", system-ui;
}

.c8 {
    padding-top: 20pt;
    padding-bottom: 6pt;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-family: "Mona sans", system-ui;
}

.c2 {
    color: #fff;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Mona sans", system-ui;
    font-style: normal
}

.c12 {
    padding-top: 0pt;
    padding-bottom: 0pt;
    line-height: 1.15;
    orphans: 2;
    widows: 2;
    text-align: left;
    font-family: "Mona sans", system-ui;
}

.c6 {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;
    font-family: "Mona sans", system-ui;
    font-style: normal
}

.c13 {
    color: #fff;
    text-decoration: none;
    vertical-align: baseline;
    font-style: normal;
    font-family: "Mona sans", system-ui;
}

.c21 {
    text-decoration-skip-ink: none;
    --webkit-text-decoration-skip: none;
    font-style: italic;
    text-decoration: underline;
    font-family: "Mona sans", system-ui;
}

.c3 {
    font-family: "Mona sans", system-ui;
    font-weight: 400
}

.c7 {
    padding: 0;
    margin: 0;
    font-family: "Mona sans", system-ui;
}

.c18 {
    max-width: 468pt;
    padding: 72pt 72pt 72pt 72pt;
    font-family: "Mona sans", system-ui;
}

.c17 {
    margin-left: 108pt;
    padding-left: 0pt;
    font-family: "Mona sans", system-ui;
}

.c1 {
    font-size: 12pt;
    font-family: "Mona sans", system-ui;
}

.c15 {
    margin-left: 72pt;
    font-family: "Mona sans", system-ui;
}

.c20 {
    padding-left: 0pt;
    font-family: "Mona sans", system-ui;
}

.c22 {
    font-style: italic;
    font-family: "Mona sans", system-ui;
}

.c16 {
    font-size: 20pt;
    font-family: "Mona sans", system-ui;
}

.c14 {
}

.c19 {
    margin-left: 36pt;
    font-family: "Mona sans", system-ui;
}

.c11 {
    text-indent: 36pt;
    font-family: "Mona sans", system-ui;
}

.c4 {
    font-weight: 700;
    font-family: "Mona sans", system-ui;
}

.title {
    padding-top: 0pt;
    color: #fff;
    font-size: 26pt;
    padding-bottom: 3pt;
    font-family: "Mona sans", system-ui;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

.subtitle {
    padding-top: 0pt;
    color: #666666;
    font-size: 15pt;
    padding-bottom: 16pt;
    font-family: "Mona sans", system-ui;
    line-height: 1.15;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

/*li {*/
/*    color: #fff;*/
/*    font-size: 11pt;*/
/*    font-family: "Mona sans"*/
/*}*/

/*p {*/
/*    margin: 0;*/
/*    color: #fff;*/
/*    font-size: 11pt;*/
/*    font-family: "Mona sans"*/
/*}*/

/*h1 {*/
/*    padding-top: 20pt;*/
/*    color: #fff;*/
/*    font-size: 20pt;*/
/*    padding-bottom: 6pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/

/*h2 {*/
/*    padding-top: 18pt;*/
/*    color: #fff;*/
/*    font-size: 16pt;*/
/*    padding-bottom: 6pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/

/*h3 {*/
/*    padding-top: 16pt;*/
/*    color: #fff;*/
/*    font-size: 14pt;*/
/*    padding-bottom: 4pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/

/*h4 {*/
/*    padding-top: 14pt;*/
/*    color: #fff;*/
/*    font-size: 12pt;*/
/*    padding-bottom: 4pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/

/*h5 {*/
/*    padding-top: 12pt;*/
/*    color: #fff;*/
/*    font-size: 11pt;*/
/*    padding-bottom: 4pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/

/*h6 {*/
/*    padding-top: 12pt;*/
/*    color: #fff;*/
/*    font-size: 11pt;*/
/*    padding-bottom: 4pt;*/
/*    font-family: "Mona sans";*/
/*    line-height: 1.15;*/
/*    page-break-after: avoid;*/
/*    font-style: italic;*/
/*    orphans: 2;*/
/*    widows: 2;*/
/*    text-align: left*/
/*}*/