#database-editor{
    width: 40vw;
    margin: 0 auto;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

#database-editor-submit-button{
    width: 6rem;
    height: 2rem;
    background-color: #1BE985;
}

#database-editor-submit-button:active{
    background-color: #19C662;
}