.imageContainer{
    margin-top: 2rem;
    position: relative;
    display: flex;
    flex-wrap: wrap;
    width: 60%;
    grid-gap: 4em;
    justify-content: center;
    align-items: center;
    margin-bottom: 5rem;
    border: 2px solid #1BE985;
    padding: 5em;
    border-radius: 2.5rem;
    background-color: #24292e;
    box-shadow: 0 0 0 0.5px #000, 0 30px 30px rgba(0, 0, 0, 0.08),
    0 15px 15px rgba(0, 0, 0, 0.08), 0 10px 8px rgba(0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08);
}
.calmArchi{
    width: 115%;
    height: 115%;
}