.navbar{
  display: flex;
  align-items: center;
  gap: 25%;
  background-color: #1BE985;
  padding: 0 3.1rem;
  box-shadow: 0 5px 15px #000, 0 30px 30px rgba(0, 0, 0, 0.08),
  0 15px 15px rgba(0, 0, 0, 0.08), 0 10px 8px rgba(0, 0, 0.08),
  0 4px 4px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08);
  border-radius: 2.5rem;
  margin: 1% auto;

  position: sticky;
  top: 1%;
  width: 75%;
  z-index: 10;
}

.links{
  width: 60%;
}

.links ul{
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.a {
  text-decoration: none;
  list-style: none;
  position: relative;
  display: block;
  font-size: 20px;
  font-weight: 900;
  color: #24292E;
  font-family: 'Mona Sans', system-ui;

}

.a :after{
  content: "";
  width: 0%;
  height: 2px;
  display: block;
  margin-top: auto;
  align-items: center; 
  transition: 0.5s;
}
.a :hover::after{
  width: 100%;
  background:#24292E; 
}

.a li{
  display: inline-block;
  font-weight: 900;
  font-size: 30px;
  transition: 1s;
}
.a li:hover{
  transform: scale(1.3,1.3);
}
