@keyframes blink {
    0% {
        opacity: 1;
    }
    50% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}


/* Main Section */
#get-started-container {
    /* padding: 64px 0; */
    margin-top: 5rem;
    display: grid;
    grid-template-columns: repeat(6, 1fr);
    grid-template-rows: repeat(4, 1fr);
    grid-row-gap: 0.5rem;
}


.get-started-button {
    width: 18.75rem;
    height: 5rem;
    grid-column: 2 / span 2;
    grid-row: 4 / span 1;
    position: relative;
    right: 15%;
    bottom: 12rem;
    margin-top: 1.5rem;
    border-radius: 1.875rem;
    background: #1BE985;
    cursor: pointer;
    z-index: 1;
    text-align: center;
    /*box-shadow: 2px 2px 2px rgba(45, 42, 42, 0.66);*/
    border: 1px solid black;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
}
.get-started-button:hover{
    box-shadow: 0 25px 30px -20px var(--main-accent-color);
}

/* Slogan Section */
.slogan-container {
    width: 100%;
    margin: 1rem 0;
    height: 35em;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    background-color: #1B1F24;

}

.slogan {
    /* width: fit-content; */
    margin-top: 2%;
    width: 40rem;
    height: 12rem;
}

.logo {
    /* margin-left: 9%; */
    height: 19rem;
    /*min-width: 19rem;*/
    display: flex;
    justify-content: center;
    align-items: center;
    font-family: "Mona Sans", system-ui;
    border: 4px solid #1BE985;
    border-radius: 30px;
}

.logo-container {
    width: 100%;
    display: flex;
    justify-content: space-evenly;
    align-items: stretch;
    /* background: #24292E; */
    border-radius: 30px;
    font-family: "Mona Sans", system-ui;
    scroll-timeline: squareTimeline;
}

.slogan-description {
    width: 40%;
    margin: 0;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Mona Sans", system-ui;
    font-weight: 500;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #24292E;
    border: 4px solid #1BE985;
    text-align: center;
}

/* Why Calm Section */
.why-calm-section {
    width: 100%;
    height: fit-content;
    margin: 4rem 0 4rem 0;

    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    font-family: "Mona Sans", system-ui;
}

.whycalm {
    /* text-align: center;
    color: white;
    font-size: 70px;
    font-weight: 700; */
    height: 12.5rem;
    width: 37.5rem;
    position: relative;
    top: 5rem;
}
.why-calm-container{
    display: flex;
    justify-content: center;
    justify-items: center;
    align-items: center;
    align-content: center;
}

.why-calm-description {
    width: 50%;
    padding: 25px 35px;
    border-radius: 30px;

    background-color: #24292E;
    color: white;
    font-size: 1.8rem;
    line-height: 40px;
    border: 4px solid #1BE985;
}
.esi-logo{
    width: 20%;
    height: 20%;
    margin: 0 0 0 5rem;
    animation: float 2s ease-in-out infinite both;

}

body {
    background-color: #1B1F24;
}

/* What we offer Section */
.what-we-offer-section {
    width: 100%;
    height: fit-content;
    margin: 8rem 0;
    /* display: grid;
    grid-template-rows: 1fr 80%;
    grid-template-columns: 70% 1fr; */
    justify-items: center;
    align-items: center;
    font-family: "Mona Sans", system-ui;
    color: white;
    display: grid;
}

.whatWeOfferCard {
    /* Rectangle 45 */
    display: flex;
    flex-direction: column;
    width: 14rem;
    height: 14rem;

    background: var(--adress-mode-color);
    border-radius: 2.5rem;

    /* Inside auto layout */

    justify-content: center;
    align-items: center;
    cursor: pointer;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.08),
    0 15px 15px rgba(0, 0, 0, 0.08), 0 10px 8px rgba(0, 0, 0.08),
    0 4px 4px rgba(0, 0, 0, 0.08), 0 2px 2px rgba(0, 0, 0, 0.08);
    padding: 1em;
    transition: transform 0.3s ease-in-out;
    border: 1px solid black;
}

.whatWeOfferCard:hover {
    /*background-color: var(--main-accent-color);*/
    /*color: var(--main-background-color);*/
    /*border: 1px solid black;*/
    /*transform: scale(1.1);*/
    /*transition: 0.5s;*/
    border: 1px solid black;
    transform: translatey(-0.5rem);
    transition: 0.3s;
    box-shadow: 0 25px 30px -20px var(--main-accent-color);
}

.whatWeOfferCard img {
    width: 40%;
    height: 40%;
}

.whatWeOfferCard:hover img {
    transition: 0.3s;
    transform: scale(1.01);
    filter: invert(20%) sepia(32%) saturate(2127%) hue-rotate(90deg) brightness(100%) contrast(100%);
}

.whatWeOfferCard p {
    font-size: 1.5rem;
    font-weight: 800;
    text-align: center;
}

.what-we-offer {
    /* color: white;
    font-size: 55px;
    line-height: 60px;*/
    /* grid-row: 1 / 2;
    grid-column: 1 / 2;  */
    width: 600px;
    height: 200px;
    position: relative;
    top: 70px;
}

.what-we-offer-description {

    color: white;
    font-size: 2rem;
    width: 75%;
    text-align: center;
    grid-column: 1 / span 3;
    grid-row: 1 / span 1;
    margin: auto;
}

.what-we-offer-container {
    display: flex;
    gap: 2rem;
    grid-template-columns: repeat(3, 1fr);
    grid-template-rows: 2fr;
    flex-direction: column;
    width: 70%;
    justify-content: center;

}

.cardsContainer {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    gap: 4rem;
}

.cardsSubContainer{
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-items: center;
    gap: 1rem;
}

.todolist {
    width: 200px;
    height: 235px;
    bottom: 40px;
    padding: 16px 8px;
    position: relative;

    background-color: #383f47;
    border-radius: 25px;
    grid-row: 2 / 3;
    grid-column: 2 / 3;
}

/* Learn Section*/
.learn-section {
    width: 100%;
    height: 25rem;
    margin: 2rem 0 4rem 0;
    position: relative;
    display: flex;
    row-gap: 2rem;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;

    /* background-color:#1B1F24; */
    font-family: "Mona Sans", system-ui;
}

.learn {
    text-align: center;
    color: white;
    font-size: 3.4rem;
}

.learn-description {

    width: 50%;
    margin: 0;
    padding: 1rem;
    border-radius: 20px;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Mona Sans", system-ui;
    font-weight: 500;
    font-size: 1.8rem;
    color: #FFFFFF;
    background-color: #24292E;
    border: 4px solid #1BE985;
}

.part4-3 {
    background-color: #1BE985;
    width: 180px;
    height: 50px;
    border-radius: 25px;
    border: none;
}

.part4-3:hover {
    border: 1px solid black;
    transform: translatey(-0.5rem);
    transition: 0.3s;
    box-shadow: 0 25px 30px -20px var(--main-accent-color);

}

.learn-button {

    width: 18.75rem;
    height: 5rem;
    align-self: center;
    background-color: #1BE985;
    border-radius: 1.875rem;
    border: 1px solid black;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    font-size: 200%;
    font-family: 'Mona sans', system-ui;
    font-weight: 700;
    /*transition: transform 0.3s ease-in-out;*/
    text-align: center;
    display: flex;
    align-content: center;
    align-items: center;
    justify-content: center;
}

.learn-button:hover {

    border: 1px solid black;
    /*transform: translatey(-0.5rem);*/
    /*transition: 0.3s;*/
    box-shadow: 0 25px 30px -20px var(--main-accent-color);
    cursor: pointer;
    font-weight: 900;
    /*transform: scale(1.1);*/
}

/* Emulation-Simulation Section */

.emulation-simulation-section {
    /*TODO:fix space between the two cards*/
    width: 100%;
    margin: 8rem 0 2rem 0;
    display: grid;
    grid-template-columns: 1fr auto 1fr;
    grid-template-rows: 1fr min-content;
    row-gap: 4rem;
    font-family: "Mona Sans", system-ui;
}

.emulation-container {
    width: 30rem;
    height: 26rem;
    grid-column: 1 / 2;
    justify-self: end;
    border-width: 3rem;
    border-color: black;
    border-radius: 40px;
    border: 1px solid black;

    background-color: #24292E;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);
    border: 1px solid black;
    box-shadow: 0 25px 30px -20px #1BE985;

    transform: translatey(-0.5rem);
    transition: 0.3s;
}

.simul {
    color: white;
    font-size: 2rem;
}

.simul-1 {

    font-family: "JetBrains Mono", system-ui;
    color: white;
    font-size: 1.8rem;

    margin: 0;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 500;
}

.emul {
    color: white;
    font-size: 2rem;
    /*border: 0.25rem solid ghostwhite;*/
    /*-webkit-text-stroke: 0.25rem white;*/
}

.emul-1 {
    font-family: "JetBrains Mono", system-ui;
    color: white;
    font-size: 1.5rem;
    margin: 0 1.1rem;
    padding: 0.5rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-weight: 300;
}

.simulation-container {
    width: 30rem;
    height: 26rem;
    grid-column: 3 / 4;
    justify-self: start;
    background-color: #24292E;


    border-radius: 2.5rem;
    border: 1px solid black;


    box-shadow: 0 25px 30px -20px #1BE985;

    transform: translatey(-0.5rem);
    transition: 0.3s;
}

.lets-code-button {
    width: 18.75rem;
    height: 5rem;
    /*margin-top: 4em;*/
    grid-row: 2 / 3;
    grid-column: 2 / 3;

    border-radius: 1.875rem;
    border: 1px solid black;

    background-color: #1BE985;
    box-shadow: 0 0 0 1px #000, 0 30px 30px rgba(0, 0, 0, 0.07),
    0 15px 15px rgba(0, 0, 0, 0.06), 0 10px 8px rgba(0, 0, 0, 0.05),
    0 4px 4px rgba(0, 0, 0, 0.04), 0 2px 2px rgba(0, 0, 0, 0.03);

    font-size: 200%;
    align-items: center;
    justify-content: center;
    display: flex;
    font-family: 'Mona sans', system-ui;
    font-weight: 700;
    /*transition: transform 0.3s ease-in-out;*/
}

.no-underline {
    text-decoration: none;
    color: black;
}

.threeIcons {
    height: 80%;
    width: 80%;
}

.lets-code-button:hover {
    border: 1px solid black;
    /*transform: translatey(-0.5rem);*/
    /*transition: 0.3s;*/
    box-shadow: 0 25px 30px -20px var(--main-accent-color);
    cursor: pointer;
    font-weight: 900;
    /*transform: scale(1.1);*/
}

/* Keep in touch section */
.keep-in-touch-section {
    padding: 0 5%;
    margin: 4rem 0 4rem 0;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: flex-start;
}

.discord-server-container {
    width: 100%;
    display: grid;
    grid-template-rows: 0rem 0fr;
    grid-template-columns: 80% 0%;
    justify-items: center;
    grid-row-gap: 5rem;
    grid-column-gap: 2.5rem;
}

.keep-in-touch {
    margin: 2rem auto 0 auto;
    text-align: center;
    font-family: 'Mona Sans', system-ui;
    font-weight: 750;
    font-size: 62px;
    color: #ffffff;
    text-decoration: double;
}

.discord-title {
    grid-row: 1 / 2;
    margin: 0;
    font-family: 'Mona Sans', system-ui;
    font-weight: 800;
    font-size: 50px;
    color: #ffffff;

    text-decoration: double;
}

.part6-3 {

    grid-row: 2 / 3;
    grid-column: 2 / 3;
    justify-self: center;
    align-self: center;
}
.discord-image{
    animation: float 2s ease-in-out infinite both;
}
.part6-3:hover {
    transition: 0.3s;
    transform: scale(1.01);
    filter: invert(10%) sepia(22%) saturate(2127%) hue-rotate(90deg) brightness(200%) contrast(100%);
}

.part6-4 {
    grid-row: 2 / 3;
    color: white;
    width: 40rem;
    margin: 0;
    padding: 1rem;
    display: flex;
    justify-content: flex-start;
    align-items: center;
    font-family: "Mona Sans", system-ui;
    font-weight: 500;
    font-size: 1.5rem;
    background-color: #24292E;
    /*border: 1rem solid #24292E;*/
    border: 4px solid #1BE985;
    border-radius: 20px;
}

/* Collaboration Section */
.thanks-collaboration-section {
    width: 100%;
    margin-top: 8rem;
    margin-bottom: 64px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: center;
    background-color: #1B1F24;
}

.ceour-vert {
    width: 22px;
    height: 22px;

}

.part7-2 {
    font-size: medium;
    font-family: "JetBrains Mono";
    color: #707378;
}

.part7-3 {

    font-size: medium;
    font-family: "JetBrains Mono";
    color: #707378;
}

footer {
    width: 100%;
    height: 5.9rem;
    padding: 1.5rem 0;
    display: flex;
    justify-content: space-between;
    background-color: #1B1F24;
    border-top: 7px solid white;
}

.email-us-button {
    width: 12em;
    height: 3.5em;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    background-color: #1BE985;
    border-radius: 2.5rem;
    border: none;
    font-weight: 400;
    font-family: 'JetBrains Mono', system-ui;
    color: #000000;
}

.email-us-button:hover {
    border: 1px solid black;
    transform: translatey(-0.5rem);
    transition: 0.3s;
    box-shadow: 0 25px 30px -20px var(--main-accent-color);
    color: rgb(255, 255, 255);
    font-weight: 900;
}

.email-us-text {
    margin: 0;
    font-size: medium;
    color: white;
    font-family: 'Mona Sans', system-ui;
}

.part7-7 {
    font-family: 'JetBrains Mono';
    color: #707378;
    font-size: medium;
}

#email-us-container {
    margin-left: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#social-media-container {
    margin-right: 8em;
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;
    align-items: center;
}

#social-media-icons-wrapper {
    width: 70%;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
}

.social-media-text {
    font-family: 'JetBrains Mono', system-ui;
    color: #707378;
    font-size: medium;
}

.git-icon {
    width: 1.56rem;
    height: 1.56rem;
    transition: 0.3s;
}
.git-icon:hover {
    filter: invert(10%) sepia(22%) saturate(2127%) hue-rotate(90deg) brightness(200%) contrast(100%);
}

.discord-icon {
    width: 1.56rem;
    height: 1.56rem;
    transition: 0.3s;
}
.discord-icon:hover {
    filter: invert(10%) sepia(22%) saturate(2127%) hue-rotate(90deg) brightness(200%) contrast(100%);
}

.linkedin-icon {
    width: 1.56rem;
    height: 1.56rem;
    transition: 0.3s;
}
.linkedin-icon:hover {
    filter: invert(10%) sepia(22%) saturate(2127%) hue-rotate(90deg) brightness(200%) contrast(100%);
}

.mail-icon {
    width: 1.37rem;
    height: 1.37rem;
}

.scroll-animation {
    opacity: 0; /* le texte est invisible par défaut */
    transform: translateY(20px); /* le texte est décalé vers le bas par défaut */
    transition: opacity 0.5s ease-in-out, transform 0.5s ease-in-out; /* animation de transition pour l'opacité et la position */
}

.scroll-animation.animate {
    opacity: 1; /* le texte devient visible lorsque la classe 'animate' est ajoutée */
    transform: translateY(0); /* le texte revient à sa position originale */
}

@keyframes blink {
    0% {
        opacity: 1;
    }
    10% {
        opacity: 0;

    }
    100% {
        opacity: 1;
    }
}

/* Appliquer l'animation au texte */
.keep-in-touch {

}


/* Animer le texte au défilement de la page */
@keyframes slideInFromLeft {
    0% {
        transform: translateX(-100%);
        opacity: 1;
    }
    100% {
        transform: translateX(0);
        opacity: 1;
    }
}

/* Appliquer l'animation au texte lorsque l'utilisateur fait défiler la page */
@media screen and (min-width: 768px) {
    .keep-in-touch {
        opacity: 0;
        animation: slideInFromLeft 1s ease-in;
        animation-fill-mode: forwards;
    }

    .keep-in-touchs.is-visible {
        opacity: 1;
    }
}

@keyframes slideup {
    0% {
        transform: translateX(10%);
        transform: translateY(10%);
    }
    50% {
        transform: translateX(0%);
        transform: translateY(0%);
    }
    100% {
        transform: translateX(10%);
        transform: translateY(10%);
    }

}

@keyframes float {
    0% {
        transform: translateY(0);
    }
    50% {
        transform: translateY(-1rem);
    }
    100% {
        transform: translateY(0);
    }

}

/* Appliquer l'animation au texte lorsqu'il entre dans la vue */
.part3-2 {
    opacity: 1;
    animation: slideup 6s infinite;
    animation-delay: 0.5s;
}

/* Empêcher l'animation de se répéter */
.part3-2.done {
    animation: none;
}

.logoHero {
    width: 18.75rem;
}