
@font-face {
  font-family: "Mona Sans";
  src: url("../../../assets/font/Mona-Sans.woff2") format("woff2 supports variations"), url("../../../assets/font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("../../../assets/font/JetBrainsMono-Regular.woff2") format("woff2"), url("../../../assets/font/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@keyframes blink {
  0% {
    opacity: 1;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}


body{
  overflow-x: hidden;
  
 
}

.level3{
background-color: #1B1F24;


}
body{
  background-color: #1b1f24;
}
.container3{
  margin:0.38rem ;
}



.question3{
  font-size: xx-large;   
  color: white;
  font-family:'JetBrains Mono';
  

  
}
.ABC3{
  /* position: relative; */
  /* margin-top: 50% ; */
  background-color: #24292e;
  
  width: 43.75rem;
  height: 18.75rem;
  margin: 5% auto 0 auto;
  border-radius: 1.25rem;
 margin-top: 1.875rem;
 border: 2px solid #15bb6b;
}
.ABC3{
  /* position: relative; */
  /* margin-top: 50% ; */
  background-color: #24292e;
  
  width: 43.75rem;
  height: 17rem;
  margin: 5% auto 0 auto;
  border-radius: 20px;
 margin-top: 1.875px;
 border: 2px solid #15bb6b;
}
.Q3{
  font-size: 3.125rem;   
  color: white;
  font-family:'JetBrains Mono';
  width: 90%;
  margin:auto;

}
.R3{
 font-size: 1.875rem;
 font-weight: 300;
  color: white;
  font-family:'JetBrains Mono';
  width: 70%;
  text-align: left;
  margin: auto;

}

.ABC_3{
  color: black;
  width: 21.875rem;
  font-family:'JetBrains Mono'; 
  
  margin:4.5% auto 0 auto;

  
 


}


.submit-btn {
  position: absolute;
  margin: auto;
  left: 45%;
  font-weight: bold;
  background-color: #1BE985;
  color: white;
  border: none;
  padding: 0.75rem 1.5rem;
  text-align: center;
  
  
  font-size: 1rem;
 margin: auto;
  cursor: pointer;
  border-radius: 4px;

}
.submit-btn:hover {
  background-color: #15bb6b;
}
