.App {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width:fit-content;
  text-align: center;
  height: fit-content;
  background-color: #1B1F24;
  
}

.App-logo {
  height: 40vmin;
  pointer-events: none;
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

.App-header {
  background-color: #282c34;
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  font-size: calc(10px + 2vmin);
  color: white;
}

.App-link {
  color: #61dafb;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

.upperasteriks{
  animation-name: rotate;
  animation-duration: 10s;
  animation-fill-mode: both;
  animation-timing-function: linear;
  animation-iteration-count: infinite ;
  width:200px;
  position:fixed;
  bottom:28em;
  left:-6em;
  transition: 2s;
}

.upperasteriks:hover{
  width:250px;
  animation-duration: 3s;
}

.lowerasteriks{
  width: 300px;
  position: fixed;
  right: -8em;
  /* bottom: 8em; */
  top: 24em;
  transition:2s;
  
  animation-name: rotate;
  animation-duration: 10s;
  animation-fill-mode: backwards;
  animation-timing-function: linear;
  animation-iteration-count: infinite ;
}

.lowerasteriks:hover{
  width:350px;
  animation-duration: 3s;
}
