@import url('https://fonts.googleapis.com/css2?family=JetBrains+Mono:wght@500&display=swap');
@import url('https://fonts.cdnfonts.com/css/mona-sans');
@import url('https://fonts.cdnfonts.com/css/hubot-sans');

@font-face {
  font-family: "Mona Sans";
  src: url("assets/font/Mona-Sans.woff2") format("woff2 supports variations"), url("assets/font/Mona-Sans.woff2") format("woff2-variations");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}
@font-face {
  font-family: "JetBrains Mono";
  src: url("assets/font/JetBrainsMono-Regular.woff2") format("woff2"), url("assets/font/JetBrainsMono-Bold.woff2") format("woff2");
  font-weight: 200 900;
  font-stretch: 75% 125%;
}

:root {
  --main-background-color: #1b1f24;
  --main-accent-color: #1be985f4;
  --example-bloc-backgrouund-color: #2D2D2D;
  --button-color: #4E4E4E;
  --adress-mode-color: #24292e;
  --button-color: #4e4e4e;
  --line-break-color: #4e4e4e;
  --container-color: #24292e;
}

body {
  margin: 0;
  overflow-x: hidden;
}

@keyframes rotate {
	0% {
		transform: rotate(0deg);
	}
	100% {
		transform: rotate(360deg);
    
	}
}


.cm-scroller::-webkit-scrollbar {
  width:8px;
}

.cm-scroller::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}

.cm-scroller::-webkit-scrollbar-thumb {
  border-radius:5px;
  background: #ffffff56;
}

/*//////////// some modifications to the editor //////////////*/

.ͼ2 .cm-activeLine {
  background-color: #3a3a3a00;
}

.ͼ2 .cm-activeLineGutter {
  background-color: #00000000;
}

.ͼ4 .cm-line {
  caret-color: rgb(255, 255, 255) !important;
}