.arch-contain{
    position: absolute;
    width: 70%;
    /* left: 15%; */
    top:3%;
    left: 0.7%;
}

.archi{
    position: relative;
    width: 100%;
}

.contentTableDiv{
    height:9rem;
    width:85%;
    margin: auto;
    border-radius: 20px;
    overflow-y: auto;
    background-color: #212529;
    border: 2px solid #1BE985;
}
.contentTableDivMC{
    height:9rem;
    width:85%;
    margin: auto;
    border-radius: 20px;
    overflow-y: auto;
    background-color: #212529;
    border: 2px solid #1BE985;
}


.contentTableDivFlags{
    height:2rem;
    width:18rem;
    background-color: #212529;
    margin: auto;
    border-radius: 20px;
    border: 2px solid #1BE985;
    display: flex;
    padding: 0.4rem;
}

.contentTableText{
    color: #ffffff;
    padding: 0%;
    margin: 2%;
}

.returnBtn{
    border-radius: 0.6rem;
    background-color: #1BE985;
    font-family: "JetBrains Mono", system-ui;
    font-size: 1rem;
    text-align: center;
    margin-top: 1rem;
}

.contentTableMC{
    width:17rem;
    margin: auto;
    border-radius: 20px;
    background-color: #212529;
    text-align: center;
    font-size: 15px;
    color: #ffffff;
    font-family: 'JetBrains Mono', monospace;
    margin-top: 1rem;
    /*overflow-y: auto; */
}
.contentTableMC td  {
    font-family: 'JetBrains Mono', monospace;
}
  
.contentTableDiv::-webkit-scrollbar {
    width:5px;
}

.contentTableDiv::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}

.contentTableDiv::-webkit-scrollbar-thumb {
    border-radius:5px;
    background: #ffffff56;
}
.contentTableDivMC::-webkit-scrollbar {
    width:5px;
}

.contentTableDivMC::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}

.contentTableDivMC::-webkit-scrollbar-thumb {
    border-radius:5px;
    background: #ffffff56;
}

.MChead{
      display:flex;
      gap:3.2rem;
      position:absolute;
      background:#212529;
      width:85%;
      border-radius:20px;
      font-size: 16px;
      color: #ffffff;
      font-family: 'JetBrains Mono', monospace;
      border-bottom: 2px solid #1BE985;
    justify-content: center;
}

.aflag{
    margin: 0.1rem;
    font-size: 15px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
}

.aflagdiv{
    height: 1.5rem;
      width: 2.5rem;
      border:1px solid #1BE985;
    background-color: #212529;
      border-radius: 10px;
      margin: 0 14px;
      margin: 3px 5px;
}
    
.aregP{
    display: block;
    font-size: 15px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    margin: 1rem;
    width: 3rem;
}

.aregC{
    height: 2rem;
    width:10rem;
    border-radius: 20px;
    background-color: #212529;
    border: 2px solid #1BE985;
    margin: 7px;
    font-size: 15px;
    color: white;
    font-family: 'JetBrains Mono', monospace;
    padding: 0.2rem;
    justify-content: center;
}

.aregister{
    display: flex;
    overflow-y: auto;
}

.aregister::-webkit-scrollbar {
    width:5px;
}

.aregister::-webkit-scrollbar-track {
    -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
    border-radius:5px;
}

.aregister::-webkit-scrollbar-thumb {
    border-radius:5px;
    background: #ffffff56;
}
  