.helpOverlay{
    position: fixed;
    width: 55%;
    height: 75%;
    top: 50%;
    right: 0;
    background-color: rgba(0, 0, 0, 0.6);
    z-index: 100;
    display: flex;
    justify-content: center;
    align-items: center;
    /*align-self: self-end;*/
    /*justify-self: center;*/
    flex-direction: column;
    transform: translateY(-50%);
}