.convert-btn{
  margin-left: 2rem;
  margin-top: 0.5rem;
  border-radius: 5px;
  background-color: #263238;
  color: white;
  font-family: 'JetBrains Mono';
}
.dxTOMC {
  border: 2px solid white;
}
.dqCNfl {
  color: rgb(255 250 250) !important;
  font-size: 14px !important;
  font-family: "Mona sans" !important;
  padding: 0px 10px !important;
  font-weight: 800 !important;
}
/* .hBbmLh {
  width: 140px !important;
  display: inline-block !important;
  margin: 0 1rem;
}

.ermrOj{
  height: 1rem;
    width: 2rem;
}
.ermrOj::before{
  height: 14px !important;
    width: 14px !important;
    left: -1px !important;
}
.rgrFR:checked + span::before {
  transform: translateX(17px) !important;
} */
#cont{
  height: 400px;
  background-color: #263238;
}

.codeContainer{
  width: 50vw;
  height: 25rem;
  border-radius: 10px;
  overflow: hidden;
  margin-top: 2em;
  text-align: left;
  font-size: 1.25rem;
}
  
.console{
  background-color: #000;
  overflow-y: auto;
}
.console::-webkit-scrollbar {
  width:8px;
}
.console::-webkit-scrollbar-track {
  -webkit-box-shadow:inset 0 0 6px rgba(0,0,0,0.3); 
  border-radius:5px;
}
.console::-webkit-scrollbar-thumb {
  border-radius:5px;
  background: #ffffff56;
}

.ide-exec-button{
  height:2em;
  width: 5em;
  background-color: #1BE985;
  border-radius: 0.625rem;
  margin: 0.625rem 0.625rem;
}
.ide_container{
  margin: auto;
  width: 90%;
  gap: 20%;
}

.ktfEWP {
  border : 2px solid gray !important;
}